

<!DOCTYPE html>
<html>
<head>
		<style>
			 body {
            opacity: 0;
            animation: fadeIn 1s forwards;
            }

            @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
            }
		html, body {
			height: 100%;
			margin: 0;
			padding: 0;
		}
		img {
			width: 100%;
			height: 100%;
		}
	</style>
</head>
<body>
	<img src="https://i.pinimg.com/originals/7c/9b/4b/7c9b4b6ff870e8c8a338a2c9e215622a.gif" alt="GIF Background" >
</body>
</html>
